* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e5e5e5;
  margin: 0 auto;
}
header {
  height: 48px;
  width: 428px;
  margin: 0 auto;
  background-color: #76e4eb;
}
.hero-banner {
  height: 420px;
  width: 428px;
  margin: 0 auto;
  background-color: #315fa4;
}
.container {
  margin: 0 auto;
  width: 428px;
}
.column {
  display: inline-block;
  margin: 20px 0px 20px 0px;
}
.box1 {
  background-color: #ca1dcd;
  height: 460px;
  width: 428px;
  margin-right: 20px;
}
.box2 {
  background-color: #ca1dcd;
  height: 220px;
  width: 428px;
  margin-top: -5px;
}
footer {
  margin: 0 auto;
  background-color: #c01887;
  height: 172px;
  width: 428px;
  margin-top: -4px;
}
@media screen and (min-width: 767px) {
  header {
    height: 48px;
    width: 987px;
    margin: 0 auto;
    background-color: #76e4eb;
  }
  .hero-banner {
    width: 987px;
    height: 420px;
    margin: 0 auto;
    background-color: #315fa4;
  }
  .container {
    margin: 0 auto;
    width: 987px;
  }
  .column {
    display: inline-block;
    margin: 20px 0px 20px 0px;
  }
  .box1 {
    background-color: #ca1dcd;
    height: 220px;
    width: 652px;
    margin-right: 20px;
  }
  .box2 {
    background-color: #ca1dcd;
    height: 220px;
    width: 315px;
    float: right;
  }
  footer {
    margin: 0 auto;
    background-color: #c01887;
    height: 172px;
    width: 987px;
    margin-top: -4px;
  }
}
